.fancyButtonD {
    transition-duration: 0.4s;
    background-color: #46b5d1; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 5px;
}

.fancyButtonD:hover {
    background-color: lightblue; /* Green */
    color: black;
}

.password {
    font-size: 16px;
    height: 20px;
    border: 1px;
    color: black;
    background-color: #D3D3D3;
}
